body{
    background-color: #4682B4;
}

.img_topo{
    width: 125%;
}

figure{
    text-align: center;
}

h1{
    font-size: 140%;
    text-align: center;
}

p{
    font-size: 120%;
    text-align: center;
}
