body{
    background-color: #4682B4;
}

.img_topo{
    width: 125%;
    height: 120%;
}

.img_fim{
    width: 130%;
}

figure{
    text-align: center;
}

h1{
    font-size: 250%;
    text-align: center;
}

p{
    font-size: 150%;
    text-align: justify;
    text-indent: 5%;
}
